<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  </head>
  <body>
    <div class="container">
      <h3>Select your analysis</h3>

      <!-- Analysis form -->
      <form id="analysis_form" class="" action="" method="post">
        <input id="indcur" type="radio" name="analysis" value="ind_curve">
        <label for="indcur">Induction curve</label><br>

        <input id="heatmap" type="radio" name="analysis" value="heatmap">
        <label for="heatmap">Heatmap</label><br>

        <input id="kym" type="radio" name="analysis" value="kymograph">
        <label for="kym">Kymograph</label><br>

      </form>

      <!-- Induction curve form -->
      <form id="ind_form" class="d-none" action="" method="">
        <h5>Choose the function for the induction curve</h5>
        <input id="ratrho" type="radio" name="induction" value="rat_rho">
        <label for="ratrho">Ratiometric rho</label><br>

        <input id="ratalpha" type="radio" name="induction" value="rat_alpha">
        <label for="ratalpha">Ratiometric alpha</label><br>

        <input id="meanexp" type="radio" name="induction" value="mean_exp">
        <label for="meanexp">Mean expression</label><br>
      </form>

      <!-- Ratiometric rho form -->
      <form id="rat_rho_form" class="d-none" action="" method="">
        <h5>Ratiometric rho parameters</h5>
        Gompertz min and max values <br>
        Min
        <input type="text" name="min1" value="">
        <input type="text" name="min2" value="">
        <input type="text" name="min3" value=""><br>
        Max
        <input type="text" name="max1" value="">
        <input type="text" name="max2" value="">
        <input type="text" name="max3" value=""><br>

        Measurement name 1 (mname1)
        <select id="mname1">
         <option value="cfp">CFP</option>
         <option value="yfp">YFP</option>
         <option value="rfp">RFP</option>
       </select><br>
        Meaurement name 2 (mname2)
        <select id="mname2">
         <option value="cfp">CFP</option>
         <option value="yfp">YFP</option>
         <option value="rfp">RFP</option>
       </select><br>
        Number of doubling times (ndt)
        <input type="text" name="ndt" value=""><br>
      </form>

      <!-- Ratiometric alpha form -->
      <form id="rat_alpha_form" class="d-none" action="" method="">
        <h5>Ratiometric alpha parameters</h5>
        Gompertz min and max values <br>
        Min
        <input type="text" name="min1" value="">
        <input type="text" name="min2" value="">
        <input type="text" name="min3" value=""><br>
        Max
        <input type="text" name="max1" value="">
        <input type="text" name="max2" value="">
        <input type="text" name="max3" value=""><br>

        Measurement name (mname)
        <select id="mname1">
         <option value="cfp">CFP</option>
         <option value="yfp">YFP</option>
         <option value="rfp">RFP</option>
       </select><br>
        Number of doubling times (ndt)
        <input type="text" name="ndt" value=""><br>
      </form>

      <!-- Mean expression form -->
      <form id="mean_form" class="d-none" action="" method="">
        <h5>Mean expression parameters</h5>
        Measurement name 1 (mname1)
        <select id="mname1">
         <option value="cfp">CFP</option>
         <option value="yfp">YFP</option>
         <option value="rfp">RFP</option>
        </select>
      </form>


      <!-- Heatmap form -->
      <form id="heat_form" class="d-none" action="" method="">
        <h5>Choose the function for the induction curve</h5>
        <input id="heat_ratrho" type="radio" name="induction" value="rat_rho">
        <label for="heat_ratrho">Ratiometric rho</label><br>

        <input id="heat_ratalpha" type="radio" name="induction" value="rat_alpha">
        <label for="heat_ratalpha">Ratiometric alpha</label><br>

        <input id="heat_meanexp" type="radio" name="induction" value="mean_exp">
        <label for="heat_meanexp">Mean expression</label><br>
      </form>

      <!-- Ratiometric rho form -->
      <form id="heat_rat_rho_form" class="d-none" action="" method="">
        <h5>Ratiometric rho parameters</h5>
        Criteria to bin by (bin)
        <input type="text" name="bin" value=""><br>
        Gompertz min and max values <br>
        Min
        <input type="text" name="min1" value="">
        <input type="text" name="min2" value="">
        <input type="text" name="min3" value=""><br>
        Max
        <input type="text" name="max1" value="">
        <input type="text" name="max2" value="">
        <input type="text" name="max3" value=""><br>

        Measurement name 1 (mname1)
        <select id="mname1">
         <option value="cfp">CFP</option>
         <option value="yfp">YFP</option>
         <option value="rfp">RFP</option>
       </select><br>
        Meaurement name 2 (mname2)
        <select id="mname2">
         <option value="cfp">CFP</option>
         <option value="yfp">YFP</option>
         <option value="rfp">RFP</option>
       </select><br>
        Number of doubling times (ndt)
        <input type="text" name="ndt" value=""><br>
      </form>

      <!-- Ratiometric alpha form -->
      <form id="heat_rat_alpha_form" class="d-none" action="" method="">
        <h5>Ratiometric alpha parameters</h5>
        Criteria to bin by (bin)
        <input type="text" name="bin" value=""><br>
        Gompertz min and max values <br>
        Min
        <input type="text" name="min1" value="">
        <input type="text" name="min2" value="">
        <input type="text" name="min3" value=""><br>
        Max
        <input type="text" name="max1" value="">
        <input type="text" name="max2" value="">
        <input type="text" name="max3" value=""><br>

        Measurement name (mname)
        <select id="mname1">
         <option value="cfp">CFP</option>
         <option value="yfp">YFP</option>
         <option value="rfp">RFP</option>
       </select><br>
        Number of doubling times (ndt)
        <input type="text" name="ndt" value=""><br>
      </form>

      <!-- Mean expression form -->
      <form id="heat_mean_form" class="d-none" action="" method="">
        <h5>Mean expression parameters</h5>
        Criteria to bin by (bin)
        <input type="text" name="bin" value=""><br>
        Measurement name 1 (mname1)
        <select id="mname1">
         <option value="cfp">CFP</option>
         <option value="yfp">YFP</option>
         <option value="rfp">RFP</option>
        </select>
      </form>

      <!-- Kymograph form -->
      <form id="kym_form" class="d-none" action="" method="">
        <h5>Kymograph parameters</h5>
          Measurement name 1 (mname1)
          <select id="mname1">
           <option value="cfp">CFP</option>
           <option value="yfp">YFP</option>
           <option value="rfp">RFP</option>
         </select><br>
          Skip (skip)
          <input type="text" name="skip" value=""><br>
        </form>
      </form>

      <br>
      <input id="analyse" type="submit" name="" value="Analyse"><br>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script>
    $ = jQuery.noConflict();

    $(document).ready(function() {

      // INDUCTION CURVE
      $("#analysis_form input[id='indcur']").on("click", () => {
        $("#ind_form").removeClass("d-none")
        $("#heat_form").addClass("d-none")
        $("#kym_form").addClass("d-none")

        // Make heatmap forms dissapear
        $("#heat_rat_rho_form").addClass("d-none")
        $("#heat_rat_alpha_form").addClass("d-none")
        $("#heat_mean_form").addClass("d-none")
      })

      // HEATMAP
      $("#analysis_form input[id='heatmap']").on("click", () => {
        $("#ind_form").addClass("d-none")
        $("#heat_form").removeClass("d-none")
        $("#kym_form").addClass("d-none")

        // Make induction curve forms dissapear
        $("#rat_rho_form").addClass("d-none")
        $("#rat_alpha_form").addClass("d-none")
        $("#mean_form").addClass("d-none")
      })

      // KYMOGRAPH
      $("#analysis_form input[id='kym']").on("click", () => {
        $("#ind_form").addClass("d-none")
        $("#heat_form").addClass("d-none")
        $("#kym_form").removeClass("d-none")

        // Make induction curve forms dissapear
        $("#rat_rho_form").addClass("d-none")
        $("#rat_alpha_form").addClass("d-none")
        $("#mean_form").addClass("d-none")

        // Make heatmap forms dissapear
        $("#heat_rat_rho_form").addClass("d-none")
        $("#heat_rat_alpha_form").addClass("d-none")
        $("#heat_mean_form").addClass("d-none")
      })

      // INDUCTION CURVE FUNCTIONS
      // Check if ratiometric rho selected
      $("#ind_form input[id='ratrho']").on("click", () => {
        $("#rat_rho_form").removeClass("d-none")
        $("#rat_alpha_form").addClass("d-none")
        $("#mean_form").addClass("d-none")
      })
      // Check if ratiometric alpha selected
      $("#ind_form input[id='ratalpha']").on("click", () => {
        $("#rat_rho_form").addClass("d-none")
        $("#rat_alpha_form").removeClass("d-none")
        $("#mean_form").addClass("d-none")
      })
      // Check if mean expression selected
      $("#ind_form input[id='meanexp']").on("click", () => {
        $("#rat_rho_form").addClass("d-none")
        $("#rat_alpha_form").addClass("d-none")
        $("#mean_form").removeClass("d-none")
      })

      // HEATMAP FUNCTIONS
      // Check if ratiometric rho selected
      $("#heat_form input[id='heat_ratrho']").on("click", () => {
        $("#heat_rat_rho_form").removeClass("d-none")
        $("#heat_rat_alpha_form").addClass("d-none")
        $("#heat_mean_form").addClass("d-none")
      })
      // Check if ratiometric alpha selected
      $("#heat_form input[id='heat_ratalpha']").on("click", () => {
        $("#heat_rat_rho_form").addClass("d-none")
        $("#heat_rat_alpha_form").removeClass("d-none")
        $("#heat_mean_form").addClass("d-none")
      })
      // Check if mean expression selected
      $("#heat_form input[id='heat_meanexp']").on("click", () => {
        $("#heat_rat_rho_form").addClass("d-none")
        $("#heat_rat_alpha_form").addClass("d-none")
        $("#heat_mean_form").removeClass("d-none")
      })

    })

      // AL PRESIONAR ANALIZAR CHEQUEO TODAS LAS OPCIONES
      $("#analyse").on("click", () => {
        if($("#indcur").is(':checked')) {
          // Extraer los parámetros del análisis
          console.log("indcur activado")
        } else if ($("#heatmap").is(':checked')) {
          // Extraer los parámetros del análisis
          console.log("heatmap activado")
        } else if ($("#kym").is(':checked')) {
          // Extraer los parámetros del análisis
          console.log("kym activado")
        } else {
          alert("You must select an analysis option")
        }
      })
    </script>


  </body>
</html>
