{% extends 'base_new.html' %}
{% load staticfiles %}

{% block header_content %}
  <link rel="stylesheet" href="{% static 'selection/styles.css' %}">
  <style media="screen">
  #tblData input.selected{
    border: 2px solid red;
  }
  #tblData input{
    width: 110%;
  }
  </style>
{% endblock %}

{% block main_content %}
  <div class="table-responsive" id="blkData">

    <nav aria-label="...">
      Steps:
      <ul class="pagination" id="steps">
        <li class="page-item disabled"><a class="page-link bg-primary text-white" href="#" tabindex="-1">Strain</a></li>
        <li class="page-item disabled"><a class="page-link" href="#">Media</a></li>
        <li class="page-item disabled"><a class="page-link" href="#">DNA</a></li>
      </ul>
    </nav>

    <input type="text" id="val-inp">
    <button id='btn-val'>Assign value</button>

    <main>
      <section class="sec demo">
        <section class="box-wrap boxes green">
          <table class="table table-hover" id="tblData">
            <thead class="thead-light">
              <tr>
                <th scope="col">#</th>
                <th scope="col">1</th>
                <th scope="col">2</th>
                <th scope="col">3</th>
                <th scope="col">4</th>
                <th scope="col">5</th>
                <th scope="col">6</th>
                <th scope="col">7</th>
                <th scope="col">8</th>
                <th scope="col">9</th>
                <th scope="col">10</th>
                <th scope="col">11</th>
                <th scope="col">12</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">A</th>
                <td><input /></td>
                <td><input /></td>
                <td><input /></td>
                <td><input /></td>
                <td><input /></td>
                <td><input /></td>
                <td><input /></td>
                <td><input /></td>
                <td><input /></td>
                <td><input /></td>
                <td><input /></td>
                <td><input /></td>
              </tr>
              <tr>
                <th scope="row">B</th>
                <td><input /></td>
                <td><input /></td>
                <td><input /></td>
                <td><input /></td>
                <td><input /></td>
                <td><input /></td>
                <td><input /></td>
                <td><input /></td>
                <td><input /></td>
                <td><input /></td>
                <td><input /></td>
                <td><input /></td>
              </tr>
              <tr>
                <th scope="row">C</th>
                <td><input /></td>
                <td><input /></td>
                <td><input /></td>
                <td><input /></td>
                <td><input /></td>
                <td><input /></td>
                <td><input /></td>
                <td><input /></td>
                <td><input /></td>
                <td><input /></td>
                <td><input /></td>
                <td><input /></td>
              </tr>
              <tr>
                <th scope="row">D</th>
                <td><input /></td>
                <td><input /></td>
                <td><input /></td>
                <td><input /></td>
                <td><input /></td>
                <td><input /></td>
                <td><input /></td>
                <td><input /></td>
                <td><input /></td>
                <td><input /></td>
                <td><input /></td>
                <td><input /></td>
              </tr>
              <tr>
                <th scope="row">E</th>
                <td><input /></td>
                <td><input /></td>
                <td><input /></td>
                <td><input /></td>
                <td><input /></td>
                <td><input /></td>
                <td><input /></td>
                <td><input /></td>
                <td><input /></td>
                <td><input /></td>
                <td><input /></td>
                <td><input /></td>
              </tr>
              <tr>
                <th scope="row">F</th>
                <td><input /></td>
                <td><input /></td>
                <td><input /></td>
                <td><input /></td>
                <td><input /></td>
                <td><input /></td>
                <td><input /></td>
                <td><input /></td>
                <td><input /></td>
                <td><input /></td>
                <td><input /></td>
                <td><input /></td>
              </tr>
              <tr>
                <th scope="row">G</th>
                <td><input /></td>
                <td><input /></td>
                <td><input /></td>
                <td><input /></td>
                <td><input /></td>
                <td><input /></td>
                <td><input /></td>
                <td><input /></td>
                <td><input /></td>
                <td><input /></td>
                <td><input /></td>
                <td><input /></td>
              </tr>
              <tr>
                <th scope="row">H</th>
                <td><input /></td>
                <td><input /></td>
                <td><input /></td>
                <td><input /></td>
                <td><input /></td>
                <td><input /></td>
                <td><input /></td>
                <td><input /></td>
                <td><input /></td>
                <td><input /></td>
                <td><input /></td>
                <td><input /></td>
              </tr>
            </tbody>
          </table>
        </section>
      </section>
    </main>

    <button id="btnNext" type="button" name="btn" class="btn btn-success" data-action="steps">Siguiente</button>

  </div>

  <div id="blkFile" class="d-none">
    <form class="form" action="/monkey/sample" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="file" name="dataFile" value="Selecciona el archivo">
      <input type="hidden" name="dataFull" value="">
      <button id="btnSend" type="submit" name="btn" class="btn btn-success" data-action="steps">Subir Archivo</button>
    </form>
  </div>
{% endblock %}

{% block footer_content %}
  <script src="{% static 'selection/selection.min.js' %}"></script>
  <script src="{% static 'selection/code.js' %}"></script>

  <script>

  $ = jQuery.noConflict();

  $(document).ready(function(){
    let data = []

    // Para Seleccionar las casillas
    ////////////////

    // var _sw = false;
    // $("#btn").on("click", () => {
    //   _sw=true
    //   $("#val-inp").attr('type', 'text');
    //   $("#btn-val").attr('class', '');
    // })
    //
    // $("#tblData input").on("mouseover", function(){if(_sw) $(this).toggleClass("overizado")});
    //
    // $("#btn-val").on("click", () => {
    //   $("input.overizado").val($("#val-inp").val());
    //   $("#tblData input").removeClass('overizado')
    //   $("#val-inp").val('')
    //   $("#val-inp").attr('data-flag', '0');
    //   $("#val-inp").attr('type', 'hidden');
    //   $("#btn-val").attr('class', 'd-none');
    //   _sw=false
    // })
    $("#btn-val").on("click", () => {
      $("input.selected").val($("#val-inp").val());
      $("#tblData input").removeClass('selected')
      $("#val-inp").val('')
    })

    ////////////////

    $("#tblData input").each((idx, item)=>{item.name='data'})
    $("#btnNext").on("click", ()=>{
      switch (data.length) {
        case 0:
        // cambia del 0 al 1 con toggleClass. Los parámetros del toggle son al 0 y 1 le quita las clases que tiene y le agrega las que no tiene.
        $("#steps li a:nth(0), #steps li a:nth(1)").toggleClass("bg-primary text-white text-black")

        break;
        case 1:
        $("#steps li a:nth(1), #steps li a:nth(2)").toggleClass("bg-primary text-white text-black")

        break;
        case 2:
        // Sobre ese elemento aplica las clases
        $("#steps li a:nth(2)").toggleClass("bg-primary text-white text-black")
        // DEBERIA NO ESTAR FUNCIONANDO. QUITAR
        $("#btnNext").data({action: 'upload'}).text("Subir Archivo")
        // Hace desaparecer el elemento dentro del selector
        $("#blkData").slideUp(()=>{
          // Al elemento input con name 'dataFull' le asigno los datos que fueron guardados en data
          $("#blkFile input[name='dataFull']").val(JSON.stringify(data))
          // Quito la clase para que se muestre
          $("#blkFile").removeClass("d-none")
        });

        break;
        // CASE 3 SE USABA CUANDO SE LE CAMBIABA NOMBRE AL BOTON. QUITAR
        case 3:
        $("#steps li a:nth(2)").toggleClass("bg-primary text-white text-black")

        break;
        default:

      }
      if(data.length<3){
        data.push( $("#tblData input").serializeArray() )
        $("#tblData input").each((idx, item)=>{item.value=''})
      }
    })

    $("#btnSend").on("click", ()=>{
      // Redireccionar
      // Hacer un get con AJAX a una página que sea la que se debe mostrar
    })

  });
  </script>
{% endblock %}