<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Search</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

  </head>
  <body>
    <div class="container">
      <h1>Start your search</h1>
    </div>

    <div id="schFile" class="container">

      <!-- ESTE ES EL DE PRUEBA
      <form action="plots/1" method="get"> -->

      <form action="searchre" method="post">
        {% csrf_token %}
        Measurement<br>
        <input type="text" name="mea_name" placeholder=""><br>
        Strain<br>
        <input type="text" name="str_name"><br>
        Media<br>
        <input type="text" name="med_name"><br>
        DNA<br>
        <input type="text" name="dna_name"><br>

        <!-- COMO HAGO CON EL FORM SI MI OPCION DEPENDE DEL BOTON QUE SE APRETE? -->

        <button id="subQuery" type="submit" name="button">Plot</button>
        <button id="subQuery" type="submit" name="button">Analyse</button>
      </form>
    </div>

    <script>

      $ = jQuery.noConflict();

      $(document).ready(function() {

        let data = []
        $("#subQuery").click(function(event) {
          data.push( $("#schFile input").serializeArray() )
          console.log(data)
        // HACER AJAX POST para enviar

        });
      });
    </script>

  </body>
</html>
